<h2><%= @title %></h2>

<div>
    <ul>
        <li style='margin-bottom: 10px;'>
            <a href='/ryosai2017/permanent.html'>常設企画</a>
            <ul>
            <% @permanents.each do |event| %>
                <li><a href='/ryosai2017/permanent.html#event<%= event.id %>'><%= event.title %></a></li>
            <% end %>
            </ul>            
        </li>
        <li style='margin-bottom: 10px;'>
            <a href='/ryosai2017/permanent.html'>ゲリラ企画</a>
            <ul>
            <% @guerrillas.each do |event| %>
                <li><a href='/ryosai2017/guerrilla.html#event<%= event.id %>'><%= event.title %></a></li>
            <% end %>
            </ul>            
        </li>
        <% @regulars.group_by { |e| e.period.date }.each do |date, events| %>
        <li style='margin-bottom: 10px;'>
            <a href='/ryosai2017/<%= date %>.html'><%= date %>の企画</a>
            <ul>
            <% events.each do |event| %>
                <li><a href='/ryosai2017/<%= event.period.date %>.html#event<%= event.id %>'><%= event.title %></a></li>
            <% end %>
            </ul>
        </li>
        <% end %>
    </ul>
</div>