<p style="margin: 0px auto 50px auto">
    <h3><%= @title %></h3>
    <hr />
    <ul>
        <li>場所：<%= @place %></li>
        <li>時間帯：<%= @period %></li>
        <li><%= @description %></li>
    </ul>
    <img src="<%= @picture_path %>" class="event-image"/>
</p>
