<% @events.each do |event| %>
  <p style="margin: 0px auto 50px auto">
      <h3><%= event.title %></h3>
      <hr />
      <ul>
          <li>場所：<%= event.place %></li>
          <li>時間帯：<%= event.period %></li>
          <li><%= event.description %></li>
      </ul>
      <img src="<%= event.picture_path %>" class="event-image"/>
  </p>
<% end %>