<% @events.each do |event| %>
  <p style="margin: 0px auto 50px auto">
      <h3><%= event.title %></h3>
      <hr />
      <ul>
          <li>場所：<%= event.place %></li>
          <li>時間帯：<%= event.period_formatted %></li>
          <li>説明：<%= event.description %></li>
      </ul>
      <% if !event.picture_path.nil? %>
        <img src="/ryosai2017/<%= IMAGE_BASE_PATH %>/<%= event.picture_path %>" class="event-image"/>
      <% end %>
  </p>
<% end %>